.spinner {
    border: 16px solid silver;
    border-top: 16px solid #337ab7;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 700ms linear infinite;
    position: relative;
    left: 45%;
    top: 25%;
  }
  
  .spinner-wrapper {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: #00000099;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  